doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title MVC
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
  style
             include ./public/style.css  


  script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
// Just an image
nav.navbar.navbar-light.bg-light
  a.navbar-brand(href='/index')
    img(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg' width='30' height='30' alt='')
body
    header
      nav
        ul.menu
          li
            a(href='/users') User
          li
            a(href='/plansView') Plans
          li
            a(href='/workspacesView') Workspaces
          li
            a(href='/projectsView') Projects 
 
    table#user-table
      thead
        tr
          th Crashes
          th Bugs
          th Reviews
      tbody
          tr
             td= `Total Crashes ${totalCrashes[0].Total_Crashes}`
             td= `Total Bugs : ${totalbugs[0].Total_Issues}`
             td= `Total Reviews : ${totalReviews[0].Total_Reviews}` 

    table#user-table
      thead
        tr
          th ownerKuid
          th fullName
          th workspace_Kuid
          th workspaceName
          th Project KUID 
          th Project Name
          th ProjectType
          th createdAt
          th Total_Members
      tbody
        each projects in projectsData
          tr
            td= projects && projects.UserKUID ? projects.UserKUID : ''
            td= projects && projects.UserName ? projects.UserName : ''
            td= projects && projects.workspaceKuid ? projects.workspaceKuid : ''
            td= projects && projects.workspaceTitle ? projects.workspaceTitle : ''
            td= projects && projects.projectKuid ? projects.projectKuid : ''
            td= projects && projects.ProjectTitle ? projects.ProjectTitle : ''
            td= projects && projects.platformType ? projects.platformType : ''
            td= projects && projects.createdAt ? projects.createdAt.toLocaleString(): ''
            td= projects && projects.totalMembers ? projects.totalMembers : ''              